*{
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    background: linear-gradient(-180deg,rgb(0, 0, 0) , rgb(21, 26, 21) 500px);
    margin: auto;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 9000px;
    overflow: hidden;
}
.container{
    width: 300px;
    height: auto;
    margin: -1em auto;
    padding: 30px;
    background-color: black;
    border-top: solid 5px rgb(0, 223, 104);
    box-shadow:  15px 15px 0px rgba(47, 47, 47, 0.513);
    display: block;
}
h1{
    color: rgb(240, 255, 255);
    text-align: center;
    position: relative;
    top: -20px;
}
h3{
    color: azure;
    position: relative;
    top: 15px;
}
a{
    color: azure;
}
i{
    color: aliceblue;
}
.quest input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px rgb(0, 223, 104);
    color: azure;
    width: 220px;
}

.quest .nombre{
    transition: 1s;
}
.quest .nombre:hover{
    color: rgb(134, 255, 184);

}
.quest .contraseña{
    transition: 1s;
    font-size: 10px;
}
.quest .contraseña:hover{
    color: rgb(134, 255, 184);
}

.quest .contraseña2{
    transition: 1s;
    font-size: 10px;
}
.quest .contraseña2:hover{
    color: rgb(134, 255, 184);
}
.registro{
    font-size: 20px;
    display: block;
    margin-top: 30px;
    margin-left: 25%;
    width: 150px;
    height: 40px;
    color: azure;
    background-color: transparent;
    border: solid 2px rgb(0, 223, 104);
    transition: 1s;

}

.registro:hover{
    transition: 1s;
    border: solid 2px #fff;
    background: rgb(0, 223, 104);
    color: black;
}